{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Preference | Heal Tent Media</title>
    <meta name="description"
          content="Change your mail subscription preferences.">

    <meta name="theme-color" content="#FFFFFF">
    <link rel="icon" href="{% static 'images/logo/favicon.png' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="en-US">
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/subscriber_action/preference_style.css' %}" type="text/css">
    {% endcompress %}
</head>
<body>
<script>
    const currentPrefState = "{{ current_preference_status }}".toString(),sId = "{{ s_id }}".toString(),actionHash = "{{ actionhash }}".toString();
</script>
<div class="container-wrapper">
    <div class="container">
        <table>
            <tbody>
            <tr class="mail-banner">
                <td>
                    <img src="https://htm-web-static-bucket.s3.amazonaws.com/mail-assets/htm-text-logo.png"
                         alt="Heal Tent Media">
                </td>
            </tr>
            <tr class="content">
                <td>
                    <br>
                    <h1>PREFERENCES</h1>
                    <p style="text-align: center;">Please adjust your email preferences below, and we will refine our
                        emails to <b>{{ mail }}</b> accordingly.</p>
                    <hr>
                    <br>
                    {% csrf_token %}

                    {% if info_status %}
                        <input type="checkbox" id="info_box" checked>
                    {% else %}
                        <input type="checkbox" id="info_box">
                    {% endif %}
                    <label for="info_box">Informational Mails</label><br>
                    Blogs, articles and podcasts that enrich you and your profession.<br><br>
                    {% if promotional_status %}
                        <input type="checkbox" id="promo_box" checked>
                    {% else %}
                        <input type="checkbox" id="promo_box">
                    {% endif %}
                    <label for="promo_box">Promotional Mails</label><br>
                    Mails that are indented to promote our products and services.<br><br>
                    <input type="checkbox" id="update_box" checked disabled>
                    <label for="update_box">Update Mails</label><br>
                    Updates related to privacy policies, terms & conditions and other major updates are
                    notified.<br><br>
                    <hr>
                    <br>
                    <div class="verify-btn" id="submit_btn">Change Preference</div>
                    <small class="status-msg" id="status-msg">Request Status</small>
                    <br>
                    <br>
                </td>
            </tr>
            <tr class="tag-banner">
                <td>
                    <h4 class="tag-ti">WE <span class="tag-sp">EMPHASIZE</span> YOUR <span
                            class="tag-sp">SUCCESS</span>
                    </h4>
                </td>
            </tr>
            <tr class="footer">
                <td>
                    <br>
                    <div class="copyrights">
                        © 2021 <a href="https://healtentmedia.com">Heal Tent Media</a> · All Rights Reserved
                    </div>
                    <br>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% compress js %}
<script src="{% static 'js/subscriber_action/preference.js' %}"></script>
{% endcompress %}
</body>
</html>