<!DOCTYPE html>
{% load static %}
{% load compress %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy | Heal Tent Media</title>
    <meta name="description"
          content="Cookies Policy | HealTentMedia | We strive hard to secure your privacy.">

    <meta name="theme-color" content="#FFFFFF">
    <link rel="icon" href="{% static 'images/logo/favicon.png' %}">
    <meta property="og:title" content="Privacy Policy | Heal Tent Media"/>
    <meta property="og:description"
          content="Cookies Policy | HealTentMedia | We strive hard to secure your privacy."/>
    <meta property="og:url" content="https://www.healtentmedia.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{% static 'images/logo/htm-og-img.jpg' %}"/>
    <meta property="og:image:url" content="{% static 'images/logo/htm-og-img.jpg' %}"/>
    <meta property="og:image:width" content="1200px"/>
    <meta property="og:image:height" content="630px"/>

    <meta name="twitter:description"
          content="Cookies Policy | HealTentMedia | We strive hard to secure your privacy.">
    <meta name="twitter:title" content="Privacy Policy | Heal Tent Media">
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:image" content="{% static 'images/logo/htm-og-img.jpg' %}"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="en-US">
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">

    <meta name="city" content="Coimbatore">
    <meta name="state" content="Tamil Nadu">
    <meta name="geo.region" content="IN-TN">
    <meta name="geo.placename" content="Coimbatore">

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Company",
            "name": "Heal Tent Media - Your Business Healer",
            "image": [
                "https://healtentmedia.com/assets/images/logo/favicon.png",
                "https://healtentmedia.com/assets/images/logo/healtent-logo.png",
                "https://healtentmedia.com/assets/images/logo/healtent-text-logo-large.png"
            ],
            "author": {
                "@type": "Company",
                "name": "Heal Tent Media"
            },
            "datePublished": "",
            "description": "Cookies Policy | HealTentMedia | We strive hard to secure your privacy.",
        }
    </script>

    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/policies.css' %}" type="text/css">
    {% endcompress %}
</head>
<body>
{% if has_header_add == "true" %}
    {% include 'components/header-add.html' %}
{% endif %}
{% include 'components/header.html' %}
<section>
    <div class="pp">
        <div class="pp-d">
            <h1 class="pp-title">Cookies Policy</h1>
            <h2 class="pp-date">Last updated: July 01, 2021</h2>
            <p>Thank you for choosing to be part of our community at <b>Heal Tent Media</b>. If you have any questions,
                comments, or concerns regarding this Cookies Policy, please contact us at healtentmedia@gmail.com.</p>
            <p>Please read this cookie policy carefully as it contains important information on who we are and how we
                use cookies on our website. This policy should be read together with our <a href="/privacy-policy/">privacy
                    policy</a> which sets out how and why we collect, store, use and share personal information
                generally, as well as your rights in relation to your personal information and details of how to contact
                us and supervisory authorities if you have a complaint.</p>

            <br>

            <h2>Cookies</h2>
            <p>A cookie is a small text file that our sites store on your computer or mobile device when you visit our
                websites. Our websites, apps and other services (“Sites”), send this data to your browser when you first
                request a web page and then store the data on your computer or other device so the website or app can
                access, store or collect information from your device when you first request a web page. Browsers
                support cookies and similar technologies (such as local storage and pixels) so that our websites can
                remember information about your visit and can use the information to improve your experience and to
                create aggregated anonymized statistics about usage of the site. In this Policy, we use the term
                “cookie” to refer both to cookies and similar technologies.
                <br><br>
                Cookies may be set by the site you are visiting (“first-party cookies”) or by a third party, such as
                those who provide analytics or advertising services or interactive content on the site (“third-party
                cookies”). In addition to using cookies on our sites, we may also serve our cookies (specifically, our
                advertising pixel) on third-party sites operated by our advertisers who use our advertising platform.
                <br><br>
                If you use our website, both our company and third parties will use cookies to track and monitor some of
                your activities on and off, and store and access some data about you, and your usage of our website.</p>

            <h3>Third Party Cookies</h3>

            <p>Our services also include cookies from third parties that we partner with or which provide services us.
                These include third party companies that work with us or with advertisers who advertise on our company
                in order to help target ads or measure the results of an advertising campaign.
                <br><br>
                For further information on cookies generally, including how to control and manage them, visit the
                guidance on cookies published by the UK Information Commissioner’s Office, <a
                        href="https://www.aboutcookies.org">https://www.aboutcookies.org</a> or <a
                        href="https://www.allaboutcookies.org">https://www.allaboutcookies.org</a>.</p>

            <br>

            <h2>Strictly Necessary Cookies</h2>
            <p>These cookies are necessary for our website to function properly and cannot be switched off in our
                systems. They are usually only set in response to actions made by you which amount to a request for
                services, such as setting your privacy preferences, or filling in forms or where they’re essential to
                provide you with a service you have requested. You cannot opt-out of these cookies. You can set your
                browser to block or alert you about these cookies, but if you do, some parts of the site will not then
                work. These cookies do not store any personally identifiable information.</p>

            <br>

            <h2>Our use of cookies</h2>
            <h3>Third party access to the cookies</h3>
            <p>Our services also include cookies from third parties that we partner with directly or indirectly. Many of
                these third parties are companies that work with us in order to help target ads or measure the results
                of an advertising campaign.</p>

            <h3>More information about the cookies we use</h3>
            <p><b>Analytics:</b> We use cookies to compile usage activity in order to better cater our Products and
                Services offerings to you, and to third parties. We DO NOT share identifiable “raw” data with our
                clients or any third parties, however we do make high-level decisions based on aggregated data about
                your usage of our Products and Services.</p>

            <br>

            <h2>How to turn off all cookies and consequences of doing so</h2>
            <p>If you do not want to accept any cookies, you may be able to change your browser settings so that cookies
                (including those which are essential to the services requested) are not accepted. If you do this, please
                be aware that you may lose some of the functionality of our website.</p>

            <br>

            <h2>Your browser settings</h2>
            <p>Your browser includes controls that allow you to manage the use of cookies by the sites that you visit.
                Most browsers have features that enable you to see and delete cookies stored on your device and to block
                cookies from all or selected sites.</p>
            <p>Your browser may be initially set to accept cookies, but you can change your settings to notify you when
                a cookie is being set or updated, or to block cookies altogether.</p>
            <p>Please note that by blocking any or all cookies you may not have access to certain features, content, or
                personalization available through the website.</p>
            <p>Please check the “Help” section of your browser for more information. You can also click on the links
                below for more information from external help materials for some of the popular browsers:</p>
            <ul>
                <li><a href="https://www.mozilla.org/firefox/new/">Mozilla Firefox</a></li>
                <li><a href="https://www.apple.com/safari/">Apple Safari</a></li>
                <li><a href="https://www.google.com/chrome/">Google Chrome</a></li>
                <li><a href="https://www.microsoft.com/edge">Microsoft Edge</a></li>
            </ul>

            <br>

            <h2>Your mobile device settings</h2>
            <p>Your mobile device may also include browser settings that allow you to manage the use of cookies,
                especially if the device supports installing apps such as iOS and Android devices. iOS and Android
                devices also include additional device settings that control whether advertising partners can use
                information about your app activity for advertising purposes. On iOS, you can search for a setting
                called Limit Ad Tracking. On Android, you can search for a setting called Opt out of Ads
                Personalization.</p>

            <br>

            <h2>Changes to this Policy</h2>
            <p>We may change this policy from time to time, when we do we will inform you by publishing it on our
                websites.</p>
            <p>We will let you know via email and/or a prominent notice on Our Service, prior to the change becoming
                effective and update the "Last updated" date at the top of this Cookies Policy.</p>

        </div>
    </div>
</section>
{% include 'components/footer.html' %}
{% compress js %}
    <script defer src="{% static 'js/main.js' %}"></script>
{% endcompress %}
</body>
</html>